 @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
	margin:0;
	padding:0;
	text-align:center;
}

.border{
	border:1px solid #888;
}

.bgcolor{
	background:#DDD;
}

#container{
	width:960px;
	margin:0 auto;
}

#header{
	float:left;
	width:100%;
}

#logo{
	float:left;
	width:200px;
	height:80px;
}

#banner{
	float:right;
	width:750px;
}

#banner #left{
	float:left;
	width:540px;
	height:80px;
}

.nav{
	float:left;
	height:10px;
	width:100%;
	overflow:hidden;
	clear:both;
}

#banner #right{
	float:right;
	width:200px;
	height:80px;
}

#menu{
	float:left;
	width:100%;
	height: 40px;
        background-color: #00897b;
}

#sidebar{
	float:left;
	width:200px;
	height:410px;
}

#sidebar .bar{
	float:left;
	width:100%;
	height:130px;
}

.bar-title{
    float:left;
    width:100%;
    height: 20px;
}

.bar-title-pic{
    float:left;
    width:100%;
    height: 110px;
}



#content{
	float:right;
	width:750px;
}

#content .left_box{
	float:left;
	width:370px;
	height:200px;
}

#content .right_box{
	float:right;
	width:370px;
	height:200px;
}

#content .left{
	float:left;
	height:200px;
	width:180px;
}

#content .right{
	float:right;
	height:200px;
	width:180px;
}

#footer{
	float:left;
	width:100%;
	height: 100px;
}

li{
   text-align: center;
   width: 30%;
   padding-top: 10px;

}

.col-md-2{
    margin-top: -9px;
    font-size: 18px;
}
  
a{
     color: #fff;
    
  &:hover {
     color: #c5a47e;

     }  
}

p{
    line-height: 0;

}

h5{
    float: left;

}

.carousel-indicators {
    bottom: -12px;

}

.carousel-control {
  top: 1;
}

.carousel-caption {
    color: #000;
    font-size: 1.5em;
    padding-bottom: 0;
}

.carousel-control {
    background-color: transparent;
    bottom: 0;
    color: #000;
    font-size: 20px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    width: 15%;
}

